<div class="container">
  <div class="row">

    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation" ><%= link_to "全部餐廳", root_path%></li>

      <!-- 修改為判斷 category 是否被選中; active -->
      <% @categories.each do |category|%>
      <li role="presentation" class="<%= "active" if category == @category %>">
        <%= link_to category.name, category_path(category)%>
        </li>
      <% end %>
    </ul>

    <%= render partial: "shared/restaurant_list"%>
    
  </div>
</div>

